<center><h4>HSHN Routenberechnung</h4></center>


<table style="width:100%">
    <tr>
        <td> Von: <input type="text"  maxlen=40 name="daddr" id="daddr" value="{{daddr}}"></td>
        <td> Nach: <input type="text"  maxlen=40 name="eaddr" id="eaddr" value="{{eaddr}}"></td>
     
    </tr>
    <tr>
        <td>

            <button type="button" ng-click="route()" class="btn btn-primary">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Route berechnen
            </button>

        </td>
    </tr>

</table>


<div id="karte"></div>



<script type="text/javascript">


</script>
